body{
  
}

.relative {
    position: relative;
    /* background-color: #cfc; */
    /* border-color: #696; */
    /* opacity: 0.7; */
    /* right:0; */
  }
  #rel1 {
    top: 30px;
    left:55%;
    width: 50%;
    /* margin: 0px 50px 0px 50px; */
  }
  #canvas{
    width:250% !important;
  }

  @media only screen and (max-width: 800px){
    #canvas{
        /* width:100% !important; */
    }
  }

  /* @media only screen and (max-width: 600px){
    #canvas{
        width:200px !important;
    }
  } */